.artistmenu {
  overflow: auto;
  padding: $hb_height 20px 0 20px;
}

.artistmenusubscribe {
  appearance: none;
  background-color: transparent;
  color: white;
  // outline: 1px solid rgba(255, 255, 255, 0.39);
  box-shadow: 0 0 10px 1px gray;
  border-radius: 5px;
  border: 0;
  padding: 5px 8px 5px 8px;
  // margin-left: 10px;
  &:hover {
    background-color: rgba(211, 211, 211, 0.2);
  }
}

.artistmenuview {
  display: flex;
  // padding: $hb_height 20px 0 20px;
}

.artistmenuinfo {
  width: 100%;
  margin-top: 30px;

  h1 {
    margin-bottom: 5px;
    font-size: 50px;
  }
}

@mixin box {
  padding: 20px 0 20px 0;
  margin: 30px 20px 20px 20px;
  border-radius: 10px;
}

@mixin title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.artist_popular {
  @include box;
}

.artist_popular_title {
  @include title;
}

.artist_albums {
  // background-color: green;
  @include box;
}

.artist_albums_title {
  @include title;
}

.artist_related {
  @include box;
}

.artist_related_title {
  @include title;
}

.artistmenufollowers {
  margin-bottom: 20px;
}

.artistmenupicture {
  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 30px 30px 10px 30px;
    border-radius: 3px;
  }
}

.artists {
  display: flex;
  gap: 15px;
  max-width: 100%;
  flex-wrap: wrap;
}

.artist {
  font-size: 14px;
  width: 140px;
  height: 190px;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    background-color: rgba(211, 211, 211, 0.3);
  }
}

.artistpicture {
  width: 120px;
  height: 120px;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}

.artistname {
  font-size: 14px;
  margin-top: 6px;
  text-align: center;
  margin-left: 2px;
}
