@import "./variables.scss";

.layout {
  width: 100vw;
  height: 100vh;
  // background-color: red;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: $ctx_clr;
  overflow: auto;
}

.workspace {
  flex-grow: 1;
  padding: $pad_gin;
  display: flex;
}
