.track {
  width: 200px;
  margin: 10px;
  height: 40px;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  padding: 3px;
  align-items: center;
  &:hover {
    cursor: pointer;
    user-select: none;
  }
}

.track-name {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

.track-author {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 16px;
}

.track-resume {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-right: 150px;
  // background-color: red;
  // background-size: 30px;
}
