@import "./variables.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: $ctx_clr;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: $pad_gin;
  display: flex;
}
