@import "../variables.scss";

.albummenu {
  overflow: auto;
  padding: $hb_height 20px 0 20px;
}

.albummenuview {
  display: flex;
}

.albummenupicture {
  margin: 30px 30px 10px 30px;
  img {
    width: 150px;
    height: 150px;
    // border-radius: 50%;
    border-radius: 3px;
  }
}

.albummenuinfo {
  // background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.albummenualbum {
  font-size: 14px;
}

.albummenuname {
  font-size: 34px;
  max-height: 95px;
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
}

.albummenuartists {
  margin-bottom: 10px;
  display: flex;
}

.albums {
  display: flex;
  gap: 15px;
  max-width: 100%;
  flex-wrap: wrap;
}
.album {
  max-width: 150px;
  font-size: 14px;
  // color: white;
  // background-color: red;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    background-color: rgba(211, 211, 211, 0.3);
  }
}

.albumpicture {
  overflow: hidden;
  width: 130px;
  height: 130px;
  background-color: gray;
  border-radius: 8px;
  img {
    width: 100%;
    height: 100%;
  }
}

.albumname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
