.mainContainer {
  display: flex;
}

.mainImage {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  min-height: 120px;
  border-radius: 8px;
  background-position: center center;
}

.mainPlaylist {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 140px;
  text-decoration: none;
  margin: 10px 0 0 10px;
  color: white;
  font-size: 16px;
  overflow: hidden;
  // border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  height: 180px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    scale: 1.05;
  }
}

.mainName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;
  font-size: 12px;
  font-weight: 600;
}

.mainDesc {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
}
