$pad_gin: 12px;
$bor_dius: 10px;
$bg_clr: rgba(0, 0, 0, 0.5);
// $ctx_clr: rgba(0, 0, 0, 0.8);
$ctx_clr: rgb(86, 94, 111);
// $ctx_clr: red;
$bg_shw: 0 0 5px 1px rgba(0, 0, 0, 0.4);
$hb_height: 50px;
