@import "./variables.scss";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: $ctx_clr;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.mainpagecontainer {
  height: 100%;
  width: calc(100vw - 300px);
  overflow: hidden;
  padding: $pad_gin;
  position: relative;
}

.mainpage {
  background-color: $bg_clr;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $bor_dius;
  color: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-shadow: $bg_shw;
}
