@import "../variables.scss";

.player_container {
  width: 100%;
  padding: $pad_gin;
  padding-top: 0;
  // min-width: 800px + $pad_gin + 300px;
}

.player {
  border-radius: 0 0 $bor_dius $bor_dius;
  // background-image: linear-gradient(90deg, #24243e 0%, #252058 50%, #24243e 100%);
  background-color: $bg_clr;
  height: 56px;
  display: flex;
  position: relative;
}

.player_info {
  width: 33.3%;
  display: flex;
  align-items: center;
  // background-color: green;
}

.player_controls {
  // background-color: rgba(255, 0, 0, 0.486);
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    &:hover {
      filter: brightness(170%);
    }
  }
}

.player_settings {
  width: 33.4%;
  height: 100%;
  display: flex;
  align-items: center;
}

.player_picture {
  margin: 8px 15px 8px 16px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: linear-gradient(to bottom right, red, blue);
}

.player_track_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: 200;
}

.player_author {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.player_name {
  font-weight: 600;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.9);
}
