@import "./styles/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $ctx_clr;
}

.workspace {
  flex-grow: 1;
  padding: $pad_gin;
  display: flex;
}

button {
  &:hover {
    cursor: pointer;
  }
}
